*.pyc
.vscode
output
build
output/
point_e_model_cache/
wandb/
resources/*
train_ablation_scene.py
train_ablation.py
train_graphdreamer.py
train.sh
train1.py
train2_obj.py
train2_old.py
train2_weighting.py
train2.py
configs/